* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
}

#body {
  background-image: url(bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background-color: transparent;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
video {
  display: none;
}
#menu {
  display: none;
  font-size: 20px;
  margin-right: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#logo {
  margin-left: 20px;
  color: white;
}

.menu-icon {
  margin-right: 20px;
  font-size: 2rem;
  cursor: pointer;
}
#menu {
  display: none;
  font-family: "Poppins";
  list-style-type: none;
  justify-content: space-between;
  width: 50%;
  transition: all 0.5s;
}
#menu li {
  padding: 5px;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  transition: all 0.5s;
}
#menu a {
  color: white;
  text-decoration: none;
}

#menu li:hover {
  background-color: white;
  color: black;
  border-radius: 2px;
}
#menu li:hover a {
  color: black;
}
#menu a.clicked {
  color: red;
}
#menu-small {
  text-align: center;
  width: 100%;
  border: 2px solid rgb(10, 187, 227);
  display: none;
  z-index: 100;
  transition: all 0.5s;
}
#menu-small li {
  padding: 10px;
  list-style-type: none;
  transition: 0.5s;
}
#menu-small li:hover a,
#menu-small li:hover #s-load {
  background-color: white;
  cursor: pointer;
  color: #1a1a1a;
}
#menu-small a,
#s-load {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.5s;
}
#intro {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 100vh;
}
#intro .info {
  text-align: center;
  padding: 5px;

  transition: 0.5s;
  font-weight: 300;
}

#intro button {
  color: white;
  background-color: transparent;
  border: 1.5px solid white;
  padding: 5px;
  border-radius: 3px;
  margin-top: 4px;
  margin-left: 20px;
  transition: 0.5s;
  position: relative;
  z-index: 3;
  border-radius: 5px;
}
#intro button:before {
  content: "";
  position: absolute;
  z-index: -3;
  height: 0;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  transition: height 0.3s ease-in-out;
}
#intro button:hover {
  color: black;
}

#intro button:hover:before {
  height: 100%;
}
#name2 {
  color: rgb(236, 21, 236);
}

#intro h1 {
  font-family: "Poppins";
  letter-spacing: 2px;
  z-index: 2;
  position: relative;
}

#intro h1:after {
  content: "";
  border-bottom: 2px solid red;
  z-index: 5;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
#intro h1:hover:after {
  width: 100%;
}
.para {
  font-size: 20px;
  font-weight: 800;
}
#profile {
  text-align: center;
 
}
#profile img {
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 50%;
}
#fullname {
  text-shadow: 0px 0px 20px #ccc;
  cursor: pointer;
}

.animate {
  animation: move 3s infinite;
  display: inline-block;
}

@keyframes move {
  50% {
    transform: scale(1.2);
  }
}
.animate:nth-child(2) {
  animation-delay: 1s;
}
.animate:nth-child(3) {
  animation-delay: 1.5s;
}
.animate:nth-child(4) {
  animation-delay: 2s;
}
.animate:nth-child(5) {
  animation-delay: 2.5s;
}
.animate:nth-child(6) {
  animation-delay: 3s;
}
.animate:nth-child(7) {
  animation-delay: 3.5s;
}
.animate:nth-child(8) {
  animation-delay: 4s;
}
.animate:nth-child(9) {
  animation-delay: 4.5s;
}

.information {
  height: auto;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.paragraph {
  margin-left: 5%;
  margin-right: 5%;
}
.a-info h2::first-letter {
  color: rgb(250, 12, 250);
}
.a-info h2,
.myskills h2 {
  text-align: center;
  margin-top: 5px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(224, 8, 224) 50%, white) 1;
  border-radius: 5px;
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.a-info p {
  text-align: center;
  line-height: 1.6;
  font-size: 1.1em;
  margin-bottom: 20px;
  text-align: justify;
}
.Contact h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Contact {
  padding: 5px;
  margin-top: 30px;
  text-align: center;
  background-image: url(skills2.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}
.Contact .Contact-info {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(235, 26, 221), rgb(230, 238, 238))
    1;
  display: inline-block;
}
.Contact .Contact-info::first-letter,
h2::first-letter {
  color: rgb(250, 12, 250);
}
.Contact h3 {
  font-weight: bold;
  color: lightgreen;
  margin-top: 10px;
}
.Contact i {
  margin-bottom: 50px;
  text-transform: lowercase;
}
.Contact span,
#number {
  letter-spacing: 1px;
  margin-left: 10px;
}
.Contact span:hover {
  cursor: pointer;
}
.links {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 50px;

}

#intro li {
  list-style-type: none;
  margin-left: 30px;
}
#intro a {
  text-decoration: none;
  font-size: 25px;
  border-radius: 50%;
  background-color: pink;
  padding: 5px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  position: relative;
  overflow: hidden;
}
#intro i {
  width: 34px;
}
#intro a:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#intro .github {
  background: #333333;
}

#intro .instagram {
  background: radial-gradient(
    circle at 30% 30%,
    #fdf497,
    #fdf497,
    #fd5949,
    #d6249f,
    #285aeb
  );
}

#intro .linkedin {
  background: #0077b5;
}

#intro a:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  animation: ripple 0.6s ease-out;
  border-radius: 50%;
  z-index: 0;
}
@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

#intro a i {
  position: relative;
  z-index: 1;
}
.Projects {

  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.Projects h2 ,h2 {
  text-align: center;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(224, 8, 224) 50%, white) 1;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.project-box {
  
  border: 3px solid white;
width:50%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: black;
  z-index: 10;
  transition: all 0.5s;
}

.pro-info {
  text-align: left;
}
.Projects img {
width: 100%;
}
.Projects #btn3 {
  text-align: left;
}
.pr-para {
  padding: 5px;
  text-align: left;
}
.prodetails {
  display: none;
}
#btn3 {
  background-color: blue;
  color: white;
  border-radius: 3px;
  border: none;
  text-align: center;
  padding: 5px;
  margin: 10px;
  transition: all 0.5s;
}
#btn3:hover {
  color: white;
  background-color: transparent;
}
.pop-box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 10px;
  z-index: 2000;
  width: 50%;
  backdrop-filter: blur(10px);
  display: none;
  text-align: left;
}
.pop-box h3 {
  background-image: linear-gradient(270deg, #3f5efb, #fc466b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
  width: 100%;
  text-align: center;
}

input,
textarea {
  width: 100%;
  border: none;
  background-color: transparent;
}
input[type="text"],
input[type="email"] {
  margin-top: 30px;
  outline: none;
  border-bottom: 1px solid white;
}
#message,
#message::placeholder {
  margin-top: 30px;
  color: white;
}
#message {
  border: 1px solid white;
  padding: 5px;
  outline: none;
  border-radius: 5px;
}
input::placeholder {
  color: white;
}

.close-btn,
.close-btn2 {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

button[type="submit"] {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: green;
  margin: 10px;
}

.popup {
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
  display: none;
}
.popup p {
  color: green;
  border: 2px solid green;
  background-color: lightgreen;
  border-radius: 50%;
  text-align: center;
  padding: 2px;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.program {
  color: rgb(219, 26, 206);
}

#change-name {
  animation: name 5s infinite;
  color: violet;
}
@keyframes name {
  0%,
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.project-box {
  width:100%;
  height: auto;
}


.certificates {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.firstrow {
  width: 100%;
  overflow: hidden;
  position: relative;
   box-shadow:10px 2px 20px #1d1a1a inset;
   border-radius: 20px;

}

.scrolls {
  display: flex;
  animation: scroll-left 30s linear infinite;
  width: fit-content;
  padding: 20px;
   transition: 0.5s;
  
}
.router{
 position: absolute;
 width: 100%;
 bottom:0;
 transform: translateY(100%);
 left: 0;
 background-color: rgba(9, 9, 10, 0.8);
 text-align: left;
 padding-left: 20px;
 transition:all 0.5s;

}
.router h6{
  color:white;
}
.router a{
  text-decoration: none;

  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-style: oblique;
  margin-left: 20px;
  transition:all 0.5s;
}
.router a:hover {
  color: yellow;
  text-decoration: none;
}
.router i{
  transition: 0.5s;
}
.router a:hover i{
  color: yellow;
}
.router i{
  color: blue;
}
.imgcontainer {
  flex: 0 0 auto;
  margin: 0 20px;
   position: relative;
   overflow: hidden;
   transition: 0.5s;
     border: 5px solid gold;
     border-radius: 15px;
}
.imgcontainer:hover .router{
  transform: translateY(-0%);
  cursor: pointer;
}

.imgcontainer img {
  height: 150px;
  width: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  
}

/* Keyframes for scrolling left */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
   
  }
}


@keyframes horscroll {
  to{
    transform: translateX(-100%);
  }
}
.certificates h2 {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(235, 26, 221), rgb(230, 238, 238))
    1;
  display: inline-block;
}
.certificates img {
  width: 320px;
  height: 210px;


  transition: 0.5s;
  
}
.certificates img:hover {
  transform: translateY(-5px) scale(1.02);
}
.container-skills {
  display: flex;

  color: white;
}
.skill-left,
.sright {
  display: none;
}
.min-skill {
  text-align: center;
  padding: 10px;
  width: 100vw;
}

.h4 {
  background-color: black;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  margin-top: 30px;
  display: inline-block;

  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;
}
.h4:hover {
  transform: translateY(-3px) scale(1.1);
}
.h4::before {
  content: "";
  z-index: -1;
  position: absolute;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  /* background-color: orange;*/
  background-image: linear-gradient(to right, rgb(229, 97, 9), orange);
  top: 33%;
  margin-left: 10px;
  left: -1px;
  transition: all 0.5s;
}
.h4:hover::before {
  height: 10rem;
  width: 20rem;

  border-radius: 0;
  margin-left: 0;
  top: 0;
}
.skills h2 {
  text-align: center;
  margin-top: 50px;
}
.services-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  padding: 5px;
  gap: 20px;

}
.services h2{
 margin-bottom: 10px;
 border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(224, 8, 224) 50%, white) 1;
  border-radius: 5px;
  display: inline-block;



}



.service{
  background-color: transparent;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  height: 200px;
  width:300px;
  padding:5px;
  box-shadow: 0 0 4px #f7e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:all 0.5s;
  text-align: center;
  
}
.services h2{
  color: rgb(244, 244, 246);
  text-align: center;

  
}
.services h2::first-letter{
  color:  rgb(234, 80, 234);
}
.service i{
 margin-bottom: 5px;
 color: grey;
}
.service:hover{
  box-shadow: 0 0 10px violet;
  transform: scale(1.1) !important;
  cursor: pointer;
}
.service:hover i{
  color: violet;
  text-shadow: 0 0 30px rgb(236, 228, 228);
  background: transparent;
}
.sleft{
  display: none;
}
  #skillboxs{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .minibox{
     border: 2px solid rgba(14, 207, 217, 0.897);
    padding: 20px;
    text-align: left;
    padding-left: 20px;
    border-radius: 10px;
    transition: 0.5s !important;
  }
  .minibox:hover{
      
    transform: scale(1.03) !important;
    box-shadow: 0 0 10px rgba(14, 207, 217, 0.897);
  }
  .stacks{
      border: 2px solid rgba(14, 207, 217, 0.897);
    height: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

  }

.title_names{
   padding-left: 10px;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 400;
   font-style: oblique;

}
#stack-0::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  background-color:  rgba(14, 207, 217, 0.897);
  width: 90%;
  height: 10px;
  
  
  
}
#stack-1::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  background-color:  rgba(14, 207, 217, 0.89);
  width: 90%;
  height: 10px;
  
  
  
}
#stack-2::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
    background-color:  rgba(14, 207, 217, 0.89);
  width: 85%;
  height: 10px;
  
  
  
}
#stack-3::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
    background-color:  rgba(14, 207, 217, 0.89);
  width: 85%;
  height: 10px;
  
  
  
}
#stack-4::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
    background-color:  rgba(14, 207, 217, 0.89);
  width: 80%;
  height: 10px;
  
  
  
}
#stack-5::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
     background-color:  rgba(14, 207, 217, 0.89);
  width: 85%;
  height: 10px;
  
  
  
}
#stack-6::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
    background-color:  rgba(14, 207, 217, 0.89);
  width: 85%;
  height: 10px;
  
  
  
}
#stack-7::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
    background-color:  rgba(14, 207, 217, 0.89);
  width: 85%;
  height: 10px;
  
  
  
}
#stack-8::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  background-color:  rgba(14, 207, 217, 0.89);
  width: 85%;
  height: 10px;
  
  
  
}
@media screen and (min-width: 600px) {
  .menu-icon {
    margin-right: 20px;
    font-size: 2rem;
    display: none;
  }
  #menu {
    display: flex;
    font-family: "Poppins";
    list-style-type: none;
    justify-content: space-between;
  }
  #nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: 0.5s;
      overflow-x: hidden;
  }
  .bg {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  video {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    position: absolute;
    object-fit: fill;
  }
  #intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  #a-info {
    margin-top: 30px;
   
  }
  .a-info {
    align-content: center;
    font-size:20px;
  

  }
  .a-info p {
    margin-top: 10px;
    color: white;
    opacity: 0.9;
    text-align: center;
    margin-top: 50px;
  }
  #intro .info {
    text-align: center;
    padding: 10px;
    font-family: "Poppins";
    transition: 0.5s;
    font-weight: 800;
    text-align: right;
    margin-right: 15px;

    height: 200px;
  }
  #a-inf {
    margin-top: 100px;
  }
  #intro #fullname {
    font-size: 800;
    font-weight: bold;
    margin-top: 20px;
  }
  #intro #profile {
    text-align: left;
 
  }
  .outer{
    margin-left: 20px;
  }
  #intro .para {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .information {
    background-image: url(skillbg1.jpeg);
    background-attachment: fixed;

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
  }
  #pro-infos {
    margin-top: 70px;
  }
  .mobile {
    margin-top: 30px;
  }
  .program {
    color: rgb(219, 26, 206);
  }
  .instagram,
  .github,
  .linkedin {
    text-align: center;
  }
  .Projects {
    height: 100vh;
  }
  .Projects h2 {
    margin-bottom: 0;
  }
  .project-box {
    display: flex;
    width: 70%;
    margin-left: 14%;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
   
    align-items: center;
  }
  .pro-info {
    align-items: center;
  
    text-align: center;
  
  }
  .project-box img {
    width: 150px;
    border-radius: 5px;
  }
  #btn3 {
    text-align: center;
    margin-top: 10px;
  }
  .project-box strong {
    font-style: normal;
  }
 
  .pr-para {
    padding: 10px;
    line-height: 30px;
  
    font-style: italic;
  }

  #Contact-container {
    height: 100vh;
  
    align-items: center;
    align-content: center;
  }


  .Contact-info {
    margin-top: 70px;
  }
  #Contact-container span {
    font-style: italic;
  }
  #change-name {
    display: inline-block;
    width: 130px;
    text-align: left;
  }
  .links {
    justify-content: end;
  }
  .prodetails {
    display: block;
  }
  .project-box::after {
    content: "";
    background-color: rgb(188, 25, 238);
    width: 0;
    height: 600px;
    top: -200px;
    left: -50px;
    position: absolute;
    transform: rotate(25deg);
    z-index: -10;
    transition: width 0.5s ease-in-out;
  }

  .project-box::before {
    content: "";
    background-color: rgba(29, 127, 207, 0.651);
    width: 0px;
    height: 600px;
    right: -50px;
    top: -100px;
    transform: rotate(25deg);
    position: absolute;
    z-index: -10;

    transition: width 0.5s ease-in-out;
  }
  .project-box:hover:before,
  .project-box:hover:after {
    width: 60%;
  }

  .certificates {
    height: 100vh;
    align-content: center;
  }
  .tech{
   
    text-align: left;
   padding-left: 12px;
  }
  .tech .tech-name{
    text-align: left;
  }
  .tech i{

    color: red;
    width: 30px;
    height: 30px;
    
  }
.services{
  height: 100vh;

}

  .services-box{
   
    display: flex;
    justify-content: space-evenly !important;
    background-color: transparent;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    place-content: center;


  }
  .services h2{
   margin-bottom:80px;
   margin-top: 150px;
   text-align: center;
  }
  .service{
    background-color: transparent;
    backdrop-filter: blue(2px);
    border-radius: 10px;
    height: 200px;
    width:300px;
    padding:5px;
    box-shadow: 0 0 4px #f7e8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:all 0.5s;
    
  }
  .services h2{
    color: rgb(112, 112, 225);
  }
  .services h2::first-letter{
    color: white;
  }
  .service i{
   margin-bottom: 5px;
   color: grey;
  }
  .service:hover{
    box-shadow: 0 0 10px violet;
    transform: scale(1.1) !important;
    cursor: pointer;
  }
  .service:hover i{
    color: violet;
    text-shadow: 0 0 30px rgb(236, 228, 228);
    background: transparent;
  }
  .skills {
   height: 100vh;
    padding: 10px;
    background-repeat: no-repeat;
    background-image: url(skills1.jpg);
    background-size: cover;
    background-position:center;
    
 
  }
  .min-skill {
    display: none;
  }
  .sright {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
   
  }
  .sleft {
    width: 50%;
    min-height: 100%;
 
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    
    align-items: center;
    justify-content: center;
  
  }
  .container-skills{
  
    height:80%;
  }
  .box h3 {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgba(32, 30, 30, 0.836);
  }
  .box {
    width: 40%;
    height: 35%;
    background: rgba(255, 255, 255, 0.779);
    background-size:150% 150%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s,all 0.5s;
   
   

  }
  .box:hover{
     transform: translateY(-10px);
     transition: 0.5s;
     box-shadow: 0 0 5px rgb(16, 160, 216);
     background-color: rgba(255, 255, 255, 0.941);
     background-position: 100% 100%;
     cursor: pointer;
     opacity: 1;
  }
  @keyframes smoothChange {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  .skills-info {

    background-color: white;
    width:60%;
    padding: 20px;
    min-height:90%;
    border-radius: 20px;
    color:black;
    box-shadow: 0 0 15px #f72585, 0 0 25px #7209b7, 0 0 35px #3a0ca3;
      
  
  }
 
  .supp {
   
    width: 90%;
    height: 100%;

    align-items: center;
    display: flex;
    justify-content: center;
   
  }

  .active {
    background-color: rgba(255, 255, 255, 0.954);
    background-position: 100% 100%;
    transition: 0.5s ;
    transform: translateY(-10px);
    opacity: 1;
  }
  #s-info{
    
 
  }
  .skills ul {
    margin-left: 30px;
  }
  .skills li {
    list-style: none;
    font-size: 20px;
    color: black;
    margin-top: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
  }
  .fade {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.5s ease, transform 0.5s ease !important;
  }

  .show {
    opacity: 1;
    transform: translateX(-30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  #title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana;
    font-size: large;
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: 30px;
    border-bottom: 2px solid violet;
    color: black;
  }
  #root{
 
    min-height: 80%;
    padding: 10px;
    color: black;
  
  }

}